html,
body,
div,
section.article,
p,
img,
span,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.skin-content {
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}

.comparisonSection {
  position: relative;
}

.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(-0px, -1000%);
}

.test {
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
}

.test-2 {
  width: 100%;
  height: 100vh;
  background-color: red;
}
